@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;

}


body {
  min-height: 100vh;
}

main {
  width: 90%;
  margin: 3vh auto;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}


header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}


.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;

}

.header-div h1 {
  line-height: 1;
  font-size: clamp(1rem, 5vw, 3rem);
  vertical-align: middle;
}

.header-div img {
  object-fit: contain;
  aspect-ratio: 1/1;
  height: clamp(1rem, 5vw, 3rem);
  max-height: 100%;
  vertical-align: middle;

}

.toggle-btn {
  background: white;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.toggle-btn span, .toggle-btn p {
  font-size: clamp(1rem, 4vw, 2rem);
  display: inline-block;
  transition: transform 0.3s;
  font-weight: bold;
}

.toggle-btn p{
  transition: opacity 0.3s, transform 0.3s;
}

.toggle-btn span.rotated {
  transform: rotate(-45deg);

}


h2 {
  font-weight: lighter;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.infobox {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
}

.infobox h2 {
  border-bottom: 1px solid black;
}

.popup{
  background-color: white;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  animation: slideIn 0.3s ease forwards;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.161);
  padding: 5vh 5vw;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  gap: 1vh;
}

.popup.exit {
  animation: slideOut 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -60%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -60%);
    opacity: 0;
  }
}

.popup label, .popup h1{
  font-size: 1.5rem;
  align-self: center;
}

.popup-btn{
  margin-top: 2vh;
  height: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.636);
  transition: background-color 0.3s ease;
}

.popup-btn:hover{
  background-color: rgba(0, 0, 0, 0.118);

}

.task{
  width: 40%;
  padding-bottom: 2vh;
}

.task-first-line, .task-title{
  display: flex;
  flex-direction: row;
}

.task-title{
  gap: 1vw;
}

.task-title label{
  align-self: center;
  font-size: 1.5rem;

}

.task-first-line{
  justify-content: space-between;
  align-items: center;

}

.task-title input{
  font-size: 2rem;

}

.delete-btn{
  height: 1.5em;
  aspect-ratio: 1/1;
  background-color: white;
  background-image: url('./assets/bin.png');
  background-size: cover;
  background-position: center;
  border: none;

}

input[type="checkbox"] {
  accent-color: #92b7c7; 
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: gray;
}

.task-description{
  margin-left: 2rem;
}

@media (max-width: 1024px) {
  .task{
    width: 90%;
  }

  .popup{
    width: 80%;
  }
}

/*
* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#f0f6f8, #e0e1e7);
}

main {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #092635;
  color: #f0f6f8;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

header h1 {
  margin: 0;
  font-size: 1.75rem;
  color: #FFB534;
}

label {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #F3F8FF;
}

input {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  background-color: #b4b6c4;
  border: none;
  border-radius: 4px;
}

form button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #FFB534;
  border: none;
  border-radius: 4px;
  font: inherit;
  font-weight: bold;
  color: #3a4346;
  cursor: pointer;
}

form button:hover {
  background-color: #f1b246;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

li {
  background-color: #1B4242;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

li article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

li h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #b1c1c3;
}

li p {
  margin: 0;
  font-size: 0.85rem;
  color: #dfd9be;
}

li button {
  font: inherit;
  padding: 0 0.5rem;
  background: transparent;
  border: none;
  color: #EF4040;
  cursor: pointer;
}

li button:hover {
  color: #f9a73b;
}

.fallback {
  text-align: center;
  color: #acd1ce;
}

.infobox {
  margin: 2rem 0;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  font-size: 0.85rem;
  border-radius: 4px;
}

.infobox-hint {
  border: 1px solid #96f5f7;
  color: #96f5f7;
}

.infobox-warning.warning--low {
  border: 1px solid #f6d84f;
  color: #f6d84f;
}

.infobox-warning.warning--medium {
  border: 1px solid #f9a73b;
  color: #f9a73b;
}

.infobox-warning.warning--high {
  border: 1px solid #f97373;
  color: #f97373;
}

*/